# Python
__pycache__/
*.py[cod]
*.pyo

# Environments
venv/
.envrc

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Node/Nginx build artifacts (if any)
dist/
node_modules/

# Docker
*.log

# AWS Credentials
*.csv
*accessKeys*
*.pem
*.key
